<template>
	<div class="center">
      <b-row>
        <b-col sm="12" md="8">
          <b-form-input v-model="answer" maxLength="40" placeholder="New Answer..."></b-form-input>
        </b-col>
        <b-col sm="12" md="3">
          <b-form-input v-model="user" maxLength="8" placeholder="User..."></b-form-input>
        </b-col>
        <b-col sm="12" md="1">
          <b-button class="btn-secondary" @click="save">
			<font-awesome-icon icon="plus" />
          </b-button>
        </b-col>
      </b-row>
	</div>
</template>

<script>
export default {
	name: 'AnswerForm',
		data () {
			return {
			answer: '',
			user: ''
		}
	},
	methods: {
		save() {
			if (this.answer != '') {
				this.$emit('newAnswer', this.answer, this.user)
			}
			this.answer = ''
			this.user = ''
		}
	}
}
</script>