<template>
    <div class="center">
        <b-row class="center">
            <b-col sm="12" md="8">
                <b-form-input
                    v-model="search"
                    placeholder="Buscar..."
                    type="text"
                    maxlength="10"
                    autocomplete="off"
                />
            </b-col>
            <b-col sm="12" md="2" class="text-right">
                <b-button @click="clearForm()" variant="outline-secondary">Clear</b-button>
            </b-col>
            <b-col sm="12" md="2" class="text-right">
                <b-button @click="searchForm()">Search</b-button>
            </b-col>
        </b-row>
        <b-row>
            <b-col>
                <b-table
                    striped
                    hover
                    responsive
                    show-empty
                    :current-page="currentPage"
                    :per-page="perPage"
                    :items="answers"
                    :fields="fields"
                    :sort-by.sync="sortBy"
                    :sort-desc.sync="sortDesc">
                    <template slot="empty">
						<div class="center">No answers</div>
					</template>
                    <template v-slot:cell(index)="data">{{ data.index + 1 }}</template>
                    <template v-slot:cell(likes)="row">
                        <b-button size="sm" @click="like(row.item)">
                            <font-awesome-icon icon="thumbs-up" />
                        </b-button>
                        <span>{{row.item.likes}}</span>
                    </template>
                </b-table>
            </b-col>
        </b-row>
        <b-row>
            <b-col>
                <b-pagination
                    pills
                    page-class="primary"
                    align="center"
                    size="sm"
                    :total-rows="answers.length"
                    :per-page="5"
                    v-model="currentPage"/>
            </b-col>
        </b-row>
    </div>
</template>

<script>
import moment from "moment";

export default {
    name: "AnswerList",
    props: ["answers"],
    data() {
        return {
            sortBy: "creationDate",
            sortDesc: true,
            search: "",
            fields: [
                { key: "id", style: "width:10%" },
                {
                    key: "creationDate",
                    label: "Date",
                    sortable: true,
                    formatter: value => {
                        return moment(String(value)).format(
                            "DD/MM/YYYY HH:mm:ss"
                        );
                    }
                },
                { key: "text", thStyle: "width:90%", sortable: true },
                { key: "user", thStyle: "width:90%", sortable: true },
                { key: "likes", tdClass: "text-right", sortable: true }
            ],
            currentPage: 1,
            perPage: 5,
            pageOptions: [5, 10, 15]
        };
    },
    methods: {
        like(item) {
            this.$emit("like", item.id);
        },
        clearForm() {
            this.search = "";
            this.searchForm();
        },
        searchForm() {
            this.$emit("update-list", this.search, this.selected);
        }
    }
};
</script>
