<template>
    <div class="card">
        <header class="card-header">
            <b-row>
                <b-col>
                    <p class="card-header-title has-text-left">{{new Date() | moment }}</p>
                </b-col>
                <b-col class="text-right">
                    <b-button @click="back()">Back</b-button>
                </b-col>
            </b-row>
        </header>
        <div class="card-content center">
            <h3>{{question.text}}</h3>
        </div>
        <div class="card-content">
            <div class="content">
                <aform @newAnswer="addAnswer"/>
            </div>
            <div class="content">
                <alist
                    :answers="this.answers"
                    @like="likeAnswer"
                    @update-list="updateList"/>
            </div>
        </div>
    </div>
</template>

<script>
import axios from "axios";
import moment from "moment";

import aform from "./AnswerForm";
import alist from "./AnswerList";
export default {
    name: "AnswerCard",
    components: {
        aform,
        alist
    },
    data() {
        return {
            answers: [],
            answer: {},
            question: {}
        };
    },
    mounted() {
        this.updateList();
    },
    methods: {
        addAnswer(text, user) {
            this.answer = {
                text: text,
                question:this.question,
                user: user,
                likes: 0
            };
            axios.post("/api/v1/answer", this.answer).then(response => {
                this.updateList();
            });
        },
        back() {
            this.$router.push({ name: "home" });
        },
        likeAnswer(id) {
            axios.get(`/api/v1/answer/${id}/like`).then(response => {
                this.updateList();
            });
        },
        updateList: function(text) {
            if (this.$store.getters.item != undefined) {
                var questionId = this.$store.getters.item.id;
                axios
                    .get(
                        "/api/v1/answer/",
                        {
                            params: {
                                "bean.question.id": questionId,
                                "bean.text": text
                            }
                        },
                        {
                            headers: {
                                "Content-Type": "application/json"
                            }
                        }
                    )
                    .then(response => response.data)
                    .then(data => {
                        console.log(data.content);
                        this.answers = data.content;
                    });
                axios
                    .get("/api/v1/question/" + questionId, {
                        headers: {
                            "Content-Type": "application/json"
                        }
                    })
                    .then(response => response.data)
                    .then(data => {
                        console.log(data.content);
                        this.question = data;
                    });
            } else {
                this.voltar();
            }
        }
    },
    filters: {
        moment: function(date) {
            return moment(date).format("D/MM/YYYY, HH:mm");
        }
    },
    created() {
        if (this.$store.state.item.id === undefined) {
            this.$router.replace({ name: "home" });
        }
    }
};
</script>