<template>
    <div class="card">
        <header class="card-header">
            <p class="card-header-title has-text-left">{{new Date() | moment }}</p>
            <div class="has-text-right">
                <p class="card-header-title"></p>
            </div>
        </header>
        <div class="card-content">
            <div class="content">
                <qform @newQuestion="addQuestion" />
            </div>
            <div class="content">
                <qlist
                    :questions="this.questions"
                    @like="likeQuestion"
                    @update-list="updateList"/>
            </div>
        </div>
    </div>
</template>

<script>
import axios from "axios";
import moment from "moment";

import qform from "./QuestionForm";
import qlist from "./QuestionList";
export default {
    name: "QuestionCard",
    components: {
        qform,
        qlist
    },
    data() {
        return {
            questions: []
        };
    },
    created() {
        this.updateList();
    },
    methods: {
        likeQuestion(id) {
            axios.get(`/api/v1/question/${id}/like`).then(response => {
                this.updateList();
            });
        },
        addQuestion(text, user) {
            axios
                .post("/api/v1/question", {
                    text: text,
                    user: user
                })
                .then(response => {
                    this.updateList();
                });
        },
        moment: function() {
            return moment();
        },
        updateList: function(text, answered) {
            axios
                .get(
                    "/api/v1/question",
                    {
                        params: {
                            answered: answered,
                            "bean.text": text
                        }
                    },
                    {
                        headers: {
                            "Content-Type": "application/json"
                        }
                    }
                )
                .then(response => response.data)
                .then(data => {
                    console.log(data.content);
                    this.questions = data.content;
                });
        }
    },
    filters: {
        moment: function(date) {
            return moment(date).format("D/MM/YYYY, HH:mm");
        }
    }
};
</script>
