<template>
    <div class="center">
        <b-row>
            <b-col sm="12" md="8">
                <b-form-input v-model="question" maxlength="40" placeholder="New question..."></b-form-input>
            </b-col>
            <b-col sm="12" md="3">
                <b-form-input v-model="user" maxlength="8" placeholder="User..."></b-form-input>
            </b-col>
            <b-col sm="12" md="1">
                <b-button @click="save">
                    <span class="icon is-small">
                        <font-awesome-icon icon="plus" />
                    </span>
                </b-button>
            </b-col>
        </b-row>
    </div>
</template>

<script>
export default {
    name: "QuestionForm",
    data() {
        return {
            question: "",
            user: ""
        };
    },
    methods: {
        save() {
            if (this.question != "" && this.user != "") {
                this.$emit("newQuestion", this.question, this.user);
            }
            this.question = "";
            this.user = "";
        }
    }
};
</script>
