<template>
    <div class="center">
        <b-row>
            <b-col sm="12" md="5">
                <b-form-input
                    v-model="search"
                    placeholder="Search..."
                    type="text"
                    maxlength="10"
                    autocomplete="off"
                />
            </b-col>
            <b-col sm="12" md="3">
                <b-form-group label="Answered" variant="primary">
                    <b-form-radio-group
                        id="radio-slots"
                        v-model="selected"
                        name="radio-options-slots"
                    >
                        <template v-slot:first>
                            <b-form-radio value="A">All</b-form-radio>
                        </template>
                        <b-form-radio value="Y">Y</b-form-radio>
                        <b-form-radio value="N">N</b-form-radio>
                    </b-form-radio-group>
                </b-form-group>
            </b-col>
            <b-col sm="12" md="2" class="text-right">
                <b-button @click="clearForm()" variant="outline-secondary">Clean</b-button>
            </b-col>
            <b-col sm="12" md="2" class="text-right">
                <b-button @click="searchForm()">Search</b-button>
            </b-col>
        </b-row>
        <b-row>
            <b-col>
                <b-table
                    striped
                    hover
                    responsive
                    show-empty
                    :current-page="currentPage"
                    :per-page="perPage"
                    :items="questions"
                    :fields="fields"
                    :sort-by.sync="sortBy"
                    :sort-desc.sync="sortDesc"
                >
                    <template slot="empty">
                        <div class="center">No questions</div>
                    </template>
                    <template v-slot:cell(index)="data">{{ data.index + 1 }}</template>
                    <template v-slot:cell(likes)="row">
                        <b-button size="sm" @click="like(row.item)">
                            <font-awesome-icon icon="thumbs-up" />
                        </b-button>
                        <span>{{row.item.likes}}</span>
                    </template>
                    <template v-slot:cell(replys)="row">
                        <b-button size="sm">
                            <font-awesome-icon icon="reply" />
                        </b-button>
                        <span>{{row.item.replys}}</span>
                    </template>
                    <template v-slot:cell(show_details)="row">
                        <b-button size="sm" @click="view(row.item)">
                            <font-awesome-icon icon="eye" />
                        </b-button>
                    </template>
                </b-table>
            </b-col>
        </b-row>
        <b-row>
            <b-col>
                <b-pagination
                    pills
                    size="sm"
                    align="center"
                    :total-rows="questions.length"
                    :per-page="perPage"
                    v-model="currentPage"
                />
            </b-col>
        </b-row>
    </div>
</template>

<script>
import moment from "moment";

export default {
    name: "QuestionList",
    props: ["questions"],
    data() {
        return {
            sortBy: "creationDate",
            sortDesc: true,
            search: "",
            selected: "A",
            fields: [
                {
                    key: "id",
                    style: "width:10%",
                    label: "#",
                    sortable: true
                },
                {
                    key: "creationDate",
                    label: "Date",
                    sortable: true,
                    formatter: value => {
                        return moment(String(value)).format(
                            "DD/MM/YYYY HH:mm:ss"
                        );
                    }
                },
                { key: "text", thClass: "md-col-2", sortable: true },
                { key: "user", thClass: "md-col-4", sortable: true },
                {
                    key: "likes",
                    label: "",
                    thClass: "md-col-2 text-right",
                    sortable: true
                },
                {
                    key: "replys",
                    label: "",
                    thClass: "md-col-2 text-right",
                    sortable: true
                },
                {
                    key: "show_details",
                    label: "Details",
                    tdClass: "md-col-2 text-right",
                    sortable: true
                }
            ],
            currentPage: 1,
            perPage: 5,
            pageOptions: [5, 10, 15]
        };
    },
    methods: {
        view: function(item) {
            this.$store.state.item = item;
            this.$router.replace("/question");
        },
        like(item) {
            this.$emit("like", item.id);
        },
        clearForm() {
            this.search = "";
            this.selected = "A";
            this.searchForm();
        },
        searchForm() {
            this.$emit("update-list", this.search, this.selected);
        }
    }
};
</script>
