<template>
  <div id="app">
      <header class="hero-head">
        <nav class="navbar">
          <div class="container">
            <div class="navbar-brand">
              <a class="navbar-item">
                Desafio Bexs
              </a>
            </div>
          </div>
        </nav>
      </header>

      <div class="content">
        <div class="container has-text-centered">
            <router-view/> 
        </div>
      </div>

       <footer>
    <b-container>
      <b-row>
        <b-col sm="12" md="6" class="text-left"><strong>Desafio Bexs</strong> by <a href="#">andrecs2</a>. &#127279; Copyleft 2019</b-col>
        <b-col sm="12" md="6" class="text-right">{{versaoFrontend}} - Api: {{ versaoApi }}</b-col>
      </b-row>
    </b-container>
  </footer>
  </div>
</template>

<script>
  import card from './components/question/QuestionCard'
  import { version } from '../package.json'

  export default {
    name: 'app',
    components: {
      card
    },
    data () {
      return {
        versaoFrontend : null
        ,versaoApi : null
      }
    },
  mounted () {
    this.versaoFrontend = version
    axios.get('/api/v1/version').then(response => {
      this.versaoApi = response.data
    })
  }
  }
</script>
