.center {
    margin: auto;
    padding: 10px;
}
 .button {
    border-radius: 50%;
}
.page-item .page-link {  
    color: gray !important;  
}
.page-item.active .page-link {  
    background-color: gray !important;  
    border-color: gray !important;  
    color: white !important;
    font-weight: bold;
}

.input {
    border-left: 0;
    border-right: 0;
    border-top: 0;
    border-radius: 0;
    outline: none;
    border-bottom-width: 2px;
    box-shadow: none;
  }
.input.is-primary:focus {
    box-shadow: none;
}
.add-button {
    border-radius: 50%;
}
.card {
    border-radius: 10px;
}
.card-header-title {
    color: #636368;
}
.footer {
    grid-area: footer;
    background-color: #d9d9d9;
    display: flex;
    font-weight: bold;
    font-size: 0.8rem;
    padding: 0px 10px;
    flex-shrink: 0;
    padding-right: 10px;
  }